AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
INFERENCE_PROFILE_ARN=arn:aws:bedrock:ap-south-1:686255973607:inference-profile/apac.anthropic.claude-sonnet-4-20250514-v1:0
INFERENCE_PROFILE_ID=apac.anthropic.claude-sonnet-4-20250514-v1:0
MODEl_ARN=arn:aws:bedrock:ap-south-1::foundation-model/anthropic.claude-sonnet-4-20250514-v1:0
GROQ_API_KEY=
GOOGLE_API_KEY=
EXA_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_PROJECT_ID=
